<ion-header>
  <ion-navbar>
    <ion-title>Quran / Al-Bayan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-right>
    <button button-clear-outline outline round ion-button (click)="scrollTobookmark()" *ngIf="bookmark">
      Your Bookmark <ion-icon name="bookmarks"></ion-icon>
    </button>
  </div>
  <!--<div span-small>Last updated: {{lastupdate | date: "MMM dd, yyyy H:mm" }}</div>-->
  <div span-small></div>    
  <ion-grid no-padding>
    <ion-row *ngIf="dataL != null">
      <ion-col col-3>
        <ion-card (click)="openPopup(dataH, $event, 'preface')">
          <img src="assets/images/core/albay/preface.png" />
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <img src="assets/images/core/albay/albhed.png" />
      </ion-col>
      <ion-col col-3>
        <ion-card (click)="openPopup(dataH, $event, 'intro')">
          <img src="assets/images/core/albay/intro.png" />
        </ion-card>
      </ion-col>
      <ion-col col-12 *ngFor="let dgroup of dataG;let i = index">
        <hr>
        <ion-row>
          <ion-col col-2 text-center>
            <div class="grIntro" (click)="openPopup(dgroup, $event, 'gIntro')">
              <img src="assets/images/core/albay/groupintro.png" />
            </div> 
          </ion-col>
          <ion-col col-8>
            <img *ngIf="dgroup.imgurl" [src]="dgroup.imgurl" />
          </ion-col>
          <ion-col col-2 text-center>
            <div class="grIntro" (click)="openPopup(dgroup, $event, 'gTopic')">
              <img src="assets/images/core/albay/grouptopic.png" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 0">
          <ion-col col-4 *ngFor="let p of dataL | slice:1:4">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 1">
          <ion-col col-4 *ngFor="let p of dataL | slice:4:6">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 2">
          <ion-col col-4 *ngFor="let p of dataL | slice:6:14">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 3">
          <ion-col col-4 *ngFor="let p of dataL | slice:14:19">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 4">
          <ion-col col-4 *ngFor="let p of dataL | slice:19:28">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 5">
          <ion-col col-4 *ngFor="let p of dataL | slice:28:37">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="cnt-rtl" *ngIf="i == 6">
          <ion-col col-4 *ngFor="let p of dataL | slice:37">
            <div class="suraborder">
              <div class="sIntro" text-center (click)="openPopup(p[0], $event, 'chIntro')">
                <img src="assets/images/core/albay/chintro.png" />
              </div>
              <ion-card margin-bottom *ngIf="p[0].chapter" [ngClass]="{'notStored':p[0].notstored}" (click)="onEvent(p[0], $event)">
                {{p[0].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[0].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[0].chapter}}.png" />
              </ion-card>
              <ion-card margin-bottom *ngIf="p[1].chapter" [ngClass]="{'notStored':p[1].notstored}" (click)="onEvent(p[1], $event)">
                {{p[1].chapter}} . 
                <ion-icon icon-small icon-left *ngIf="!p[1].notstored">
                  <i class="icon ion-ios-checkmark-circle"></i>
                </ion-icon>
                <img src="assets/images/core/albay/sura/{{p[1].chapter}}.png" />
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="yFooterClass" *ngIf="backtotop">
  <div (click)="scrollToAbove()" class="backtotop">
    <ion-icon icon-large name="ios-arrow-dropup-circle-outline"></ion-icon>
  </div>
</ion-footer>