// Comfortaa light
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hini-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

// Hini Regular
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hini-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

// Hini Medium
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hini-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

// Hini SemiBold
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hini-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}



// Hini Bold
@font-face {
    font-family: Hini;
    src: url(../assets/fonts/Hini/Hini-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}
