/*  #Style Login + logo 1
================================================*/

login-layout-1 {
  .scroll-content {
    padding-bottom: 0 !important;

    ion-grid {
      height: 100%;

      ion-row {
        height: 100%;
        // Settings Logo
        img {
          max-width: 170px;
          max-height: 40px;
          margin-bottom: 24px;
          display: block;
        }
        // Settings Form
        form {
          box-shadow: 0 3px 17px rgba(0, 0, 0, 0.16);
          background: theme-colors('mainColors', 'primaryBase');
          padding: 16px !important;
          border-radius: 14px;

          ion-item {
            padding-left: 0 !important;
            padding-bottom: 15px !important;

            [error-field] {
              margin: 0 !important;
              position: absolute !important;
              bottom: 0 !important;
              right: 5px !important;
              font-size: $h6-font-size;
            }

            .item-inner {
              border-bottom: none !important;
              box-shadow: none !important;
              padding-right: 0 !important;
            }

            ion-input {
              background: theme-colors('mainColors', 'primaryBase') !important;
              box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1) !important;
              margin: 5px 10px 15px 10px !important;
              padding: 5px 10px !important;
              width: calc(100% - 9px);
              border-radius: 24px;
              z-index: 999;

              .input-cover {
                display: none;
              }
            }

            ion-label {
              margin: 0 5px !important;
            }
          }

          [stacked] {
            font-size: $text-font-size !important;
            text-align: center;
          }
          // Settings Button
          [button-form] {
            margin-bottom: 10px;
            margin-top: 100px;
            display: flex;

            [default-button] {
              width: calc(50% - 5px)!important;
            }

            button:nth-child(1) {
              color: theme-colors('textColors', 'accent') !important;
              background: theme-colors('mainColors', 'primaryBase') !important;
              margin-right: 10px !important;
            }
          }

          [login-title] {
            color: color($loginPage, login-title-logo-1);
          }

          [segment-block] {
            margin: 0 0 10px;
          }
          // Register Title
          [register-title] {
            color: color($register, register-logo-title);
          }
        }
      }
    }
  }
}
