<!--Theme Google Card - Full Image Cards-->
<ion-content padding-top>
  <ion-grid no-padding>
    <ion-row *ngIf="data != null">
      <ion-col col-12 col-md-6 col-lg-3 *ngFor="let item of data.items;let i = index">
        <ion-card text-left box-shadow margin-bottom [ngClass]="{'notStored':item.notstored}">
          <!--Card Image-->
          <div card-image>
            <img [src]="item.image" />
            <!--<img src="assets/images/core/albay/comenj.png" />-->
            <div watch-now text-center (click)="onEvent('onItemClick', item, $event)">
              <button ion-button button-icon icon-start >
                <ion-icon icon-small [name]="item.icon"></ion-icon>
                <div class="dnld" *ngIf="item.notstored">
                  Download &
                </div>
                {{item.iconText}} <ion-icon icon-large name="bookmarks" class="bkmarked" *ngIf="item.bookmark"></ion-icon>
              </button >
            </div>
          </div>
          <!--Card descriptiom-->
          <ion-card-content>
            <ion-card-title text-center [ngClass]="{'cnt-rtl cnt-ur':item.ur}">
                <!--Card Subtitle-->
                <h1 card-title>{{item.title}}</h1>
                <!-- Icon Rating Star
                <ion-icon *ngFor="let star of item.ratingStar.iconsStars; let i = index" (click)="onStarClass(item.ratingStar.iconsStars, i, $event)">
                  <i icon-small *ngIf="star.isActive" class="icon {{star.iconActive}}"></i>
                  <i icon-small *ngIf="!star.isActive" class="icon {{star.iconInactive}}"></i>
                </ion-icon> -->
                <!-- Reviews Star
                <span span-medium>{{item.reviews}}</span> -->
                <!--Card Body Text-->
                <p margin-top card-body-text>{{item.description}}</p>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
