<!--Search Bar components-->

<!--PAGE SEARCH BARS - Simple-->
<search-bar-layout-1 *ngIf="params.searchBarsLayout1" [data]="params.data | async" [events]="params.events">
</search-bar-layout-1>

<!--PAGE SEARCH BARS - Field + header-->
<search-bar-layout-2 *ngIf="params.searchBarsLayout2" [data]="params.data | async" [events]="params.events">
</search-bar-layout-2>

<!--PAGE SEARCH BARS - Field + header 2-->
<search-bar-layout-3 *ngIf="params.searchBarsLayout3" [data]="params.data | async" [events]="params.events">
</search-bar-layout-3>
