<ion-header>
  <ion-navbar>
    <ion-title>Audio Home <span header-title *ngIf="selecthead"> - {{selecthead}}</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <div class="catCont" *ngFor="let cat of categories;let i = index">
        <ion-item no-lines no-margin (click)="getVid(cat._id, '', '')" *ngIf="!cat.subCategories.length > 0">
          <div text-center>
              <img src="assets/images/core/other/{{i}}.png" />
          </div>
        </ion-item>
        <ion-item no-lines no-margin (click)="pickCat(cat)" *ngIf="cat.subCategories.length > 0">
          <div text-center>
              <img src="assets/images/core/other/{{i}}.png" />
          </div>
        </ion-item>
      </div>
    </ion-row>
    <ion-toolbar padding-horizontal transparent text-center>
      <ion-searchbar type="string" [(ngModel)]="searchText" placeholder="Search For ..."></ion-searchbar>
      <button ion-button outline round (click)="searchVideo()">Search</button>
    </ion-toolbar>
    <button button-clear-outline outline round ion-button (click)="audiostored()" *ngIf="adstored">
      <ion-icon outline icon-small icon-left name="ios-briefcase" >
      </ion-icon>
      Downloaded Audios
    </button>
    <ion-row *ngIf="!showList">
      <ion-col col-12>
        <ion-list no-margin>
          <ul collapsible no-margin no-padding>
            <li *ngFor="let group of selectcat;">
              <ion-card>
              <div (click)="getVid(selecthead, group._id, '')" *ngIf="!group.subCategories.length > 0">
                <ion-item default-item no-lines>
                  <h2 item-title>{{group._id}}</h2>
                </ion-item>
              </div>
              <div collapsible-header (click)="toggleGroup(group)" *ngIf="group.subCategories.length > 0">
                <ion-item default-item no-lines>
                  <h2 item-title>{{group._id}}</h2>
                </ion-item>
              </div>
              <div item-accordion [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
                <ion-item default-item no-lines *ngFor="let item of group.subCategories;" >
                  <ion-label (click)="getVid(selecthead, group._id, item)">
                    <h3 text-wrap>{{item}}</h3>
                  </ion-label>
                </ion-item>
              </div>
              </ion-card>
            </li>
          </ul>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showList">
      <ion-col col-12 text-center *ngIf="!selecthead">
        <h2> Latest Content </h2>
      </ion-col>
      <ion-col col-12 *ngIf="vidList">
        <ion-item [color]="odd? 'secondary' : '' " default-item no-lines text-wrap *ngFor="let vid of vidList; let odd=odd;">
          <ion-avatar item-end>
            <img src="{{thumbURL}}/m/thumb/video/{{vid.embed.thumb}}" />
          </ion-avatar>
          <ion-label>
            <div *ngIf="vid.embed.afile">
              <h3 (click)="listShare(vid)"><ion-icon name="ios-share-alt">
              </ion-icon>SHARE</h3>
              <ion-icon float-right icon-large name="ios-briefcase" *ngIf="vid.stored">
              </ion-icon>
              <ion-icon float-right icon-large name="ios-trash" *ngIf="vid.stored" (click)="audioDelete(vid)">
              </ion-icon>
              <div (click)="openAudio(vid)">
                <h2>{{vid.title.en}}</h2>
                <p>{{vid.description.en}}</p>
                <div class="cnt-rtl cnt-ur cnt-margtop">
                  <h2>{{vid.title.ur}}</h2>
                  <p class="cnt-margtop">{{vid.description.ur}}</p>
                </div>
              </div>
            </div>
            <div *ngIf="!vid.embed.afile">
                <button button-clear-outline outline round ion-button disabled>
                  Audio for this Track is not available.
                </button>
                <h2>{{vid.title.en}}</h2>
                <p>{{vid.description.en}}</p>
                <div class="cnt-rtl cnt-ur cnt-margtop">
                  <h2>{{vid.title.ur}}</h2>
                  <p class="cnt-margtop">{{vid.description.ur}}</p>
                </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</ion-content>
<ion-footer class="yFooterClass" *ngIf="adPlayer">
  <div class="audiocontainer">
    <ion-icon class="adclose" outline icon-left icon-large (click)="closeAdplay()">
      <i class="icon ion-ios-close"></i>
    </ion-icon>
    <ion-item-divider no-margin class="cnt-ur">
      <p ion-text text-center color="primaryBase">{{data.title.en}}</p>
      <p ion-text text-center color="primaryBase">{{data.title.ur}}</p>
    </ion-item-divider>
    <ion-item no-lines no-margin *ngIf="!aLfile">
      <audio controls controlsList="nodownload">
        <source [src]="aRfile" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <ion-icon outline icon-large icon-left (click)="downloadAudio()" *ngIf="!downlo">
        <i class="icon icon-download"></i>
      </ion-icon>
      <ion-thumbnail item-end class="loadthumb" *ngIf="downlo">
        <img src="assets/svg/three-dots.svg" />
      </ion-thumbnail>
    </ion-item>
    <ion-item no-lines no-margin *ngIf="aLfile">
      <ion-badge item-start> {{data.value | secondsTotime}} / {{data.max | secondsTotime}} </ion-badge>
      <ion-range [min]="data.min" [max]="data.max" pin="true" (ionBlur)="onEvent('onChange', data.value, $event)" [(ngModel)]="data.value">
        <ion-icon range-left color="secondaryBase" [name]="data.iconPlay" (click)="startAudio()" *ngIf="apause"></ion-icon>
        <ion-icon range-left color="secondaryBase" [name]="data.iconPause" (click)="stopAudio()" *ngIf="!apause"></ion-icon>
      </ion-range>
    </ion-item>
  </div>
</ion-footer>